/* html {
  background: rgb(144, 230, 228);
  background: linear-gradient(
    rgba(144, 230, 228, 1) 0%,
    rgba(127, 129, 214, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
} */

body {
  margin: 0;
  margin-top: 3em;
  /* padding: 50px; */
  background-color: #66ccff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* justify-content: flex; */
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  width: 900px;
  max-width: 90%;
  margin: auto;
  padding: 1em;
  border-radius: 5px;
}
